{% if page_obj.has_other_pages %}
<div>
	<nav aria-label="Page navigation bootstrap">
		<ul class="pagination justify-content-center">
			{% if page_obj.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
				< Назад</a>
			</li>
			{% endif %}

			{% if page_obj.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.next_page_number }}">
				Далее ></a>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endif %}
