{% extends "base_with_navigation.html" %}

{% block title %}
Новости спорта
{% endblock %}

{% block navigation %}
{% include './components/category_navigation.html' %}
{% endblock navigation %}

{% block content %}
<div class="row pb-4 row-cols-1 row-cols-lg-2 g-4">

	{% for article in article_list %}
	<div class="col">

		{% include './components/article_card.html' %}

	</div>
	{% endfor %}

</div>

{# TODO: Make pagination stick to the bottom. Probably use CSS Grid for this. #}

{% endblock content %}
