{% extends "base_with_navigation.html" %}

{% block title %}
Новости спорта
{% endblock %}

{% block navigation %}
{% include './components/category_navigation.html' %}
{% endblock navigation %}

{% block content %}
<div class="row pb-4">
	{% if article.author.user == user %}
	<div class="mx-auto pb-3 d-flex gap-2" style="max-width: 50rem;">
		<a href="{% url "sports_news_app:update-article" article.slug %}" class="btn btn-primary">Редактировать</a>

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
			Удалить
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Удалить статью?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Галя, отмена!</button>
						<form action="{% url "sports_news_app:delete-article" article.slug %}" method="post">
							{% csrf_token %}
							<button type="submit" class="btn btn-danger">Удалить</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr class="hr mx-auto" style="max-width: 50rem;">
	{% endif %}


	{% if is_not_published %}
	<div class="mx-auto alert alert-warning" style="max-width: 50rem;">Статус: {{ article.get_status_display }}</div>
	{% endif %}

	<h3 class="text-center pb-3">{{ article.title }}</h3>

	<div class="mx-auto" style="max-width: 50rem;">

		{# TODO article.context should probably contain html instead of raw text #}
		<div class="fs-5 pb-3">{{ article.content }}</div>

		{% if article.author %}
		<small class="text-muted pb-2">{{ article.author }}, {{ article.created_on|date:"F d, Y" }}</small>
		{% else %}
		<small class="text-muted pb-2">{{ article.created_on|date:"F d, Y" }}</small>
		{% endif %}
	</div>

</div>

<hr class="hr mx-auto" style="max-width: 50rem;">

<div class="mx-auto" style="max-width: 50rem;">
	<h5>Комментарии &nbsp;&nbsp;<span class="text-primary">{{ comments.count }}</span></h5>

	{% if comments %}

		{% for comment in comments %}
			{% include './components/comment.html' %}
		{% endfor %}

	{% else %}
		<p class="text-muted"><i>Комментариев пока нет!</i></p>
	{% endif %}
</div>

{% endblock content %}
