{% extends "base.html" %}

{% block title %}
Новости спорта
{% endblock %}

{% block navigation %}
{% include './components/category_navigation.html' %}
{% endblock navigation %}

{% block content %}
<div class="row pb-4">
	<h3 class="text-center pb-3">{{ article.title }}</h3>

	<div class="mx-auto" style="max-width: 50rem;">
		{# TODO article.context should probably contain html instead of raw text #}
		<div class="fs-5 pb-3">{{ article.content }}</div>
		<small class="text-muted pb-2">{{ article.created_on|date:"F d, Y" }}</small>
	</div>

</div>

{% endblock content %}
