{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}

<div class="mx-auto" style="max-width: 50rem;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{% if update %}Редактировать{% else %}Создать{% endif %} статью</legend>
      {{ form|crispy }}
    </fieldset>

    <button type="submit" class="btn btn-primary">
      {% if update %}Обновить{% else %}Создать{% endif %}
    </button>
  </form>
</div>

{% endblock main %}
